  <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #1d285a">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">{{ appname }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% ifequal menu 'comparar' %}
            <li class="active"><a href="/comparar">Comparar</a></li>
          {% else %}
            <li><a href="/comparar">Comparar</a></li>
          {% endifequal %}
          {% ifequal menu 'verificar' %}
          <li class="active"><a href="/verificar">Verifica existência</a></li>
          {% else %}
            <li><a href="/verificar">Verifica existência</a></li>
          {% endifequal %}
          {% ifequal menu 'contato' %}
            <li class="active"><a href="/contato">Contato</a></li>
          {% else %}
            <li><a href="/contato">Contato</a></li>
          {% endifequal %}
          {% ifequal menu 'sobre' %}
            <li class="active"><a href="/sobre">Sobre</a></li>
          {% else %}
            <li><a href="/sobre">Sobre</a></li>
          {% endifequal %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>