{% extends "vvPromax/layout.html" %}
{% block content %}
{% if listar %}
<div class="page-header">
    <h1>Geografia {{ geo|upper }}</h1>
</div>

<div class="col-sm-11">
    <div style='font-family: consolas;font-weight: bold;'>Filtro: {{ d }}/{{ f }}</div>
</div>
<div class="col-sm-1">
    <form action="/listar/" method="get" role="form">
        <input type="submit" name="Baixar" value="Baixar" class="btn btn-success">
    </form>
</div>

<div class="table-responsive col-sm-12">
<table class="table table-striped table-condensed" style='font-family: consolas'>
    <colgroup>
        <col class="geo">
        <col class="file">
        <col class="md5">
        <col class="ver">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">geografia</th>
            <th scope="col">arquivo</th>
            <th scope="col">md5sum</th>
            <th scope="col">versão</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td class="col-md-1 col-md-offset-1">
                {{ geo }}
            </td>
            <td class="col-md-7 col-md-offset-7" data-original-title="{{ file.4 }}" data-placement="top" data-toggle="tooltip">
                {{ file.1 }}
            </td>
            <td class="col-md-3 col-md-offset-3">
                {{ file.3 }}
            </td>
            <td class="col-md-1 col-md-offset-1">
                {{ file.2 }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!--

-->
{% else %}
<form action="/listar/" method="get" role="form">
    <fieldset>
        <legend>Listar arquivos</legend>
        <div class="row">
        <div class="form-group col-sm-2">
            <label class="control-label" for="geo">Geografia:</label>
            <select id="geo" name="geo" class="form-control">
                <option></option>
                {% for geo in geos %}
                <option>{{ geo }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-5">
            <label class="control-label" for="dir">Diretório:</label>
            <input id="dir" type="text" name="d" value="{{ d }}" class="form-control"><br>
        </div>
        <div class="form-group col-sm-5">
            <label class="control-label" for="mask">Máscara:</label>
            <input id="mask" type="text" name="f" value="{{ f }}" class="form-control"><br>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="Listar" value="Listar" class="btn btn-success">
        </div>
        </div>
    </fieldset>
</form>
{% endif %}
{% endblock %}
{% block script %}
<script id="bsJs" type="text/javascript">
    //$(function () { $("[data-toggle='tooltip']").tooltip(); });
    //$('[data-toggle="tooltip"]').popover({trigger: 'hover','placement': 'top'});
</script>
{% endblock %}