{% extends "vvPromax/layout.html" %}
{% block content %}
{% if verificar %}
<div class="page-header">
    <h1>Geografia 
        {% for geo in geos %}
        {{ geo|upper }}, 
        {% endfor %}
    </h1>
</div>

<div class="col-sm-11">
    <div style='font-family: consolas;font-weight: bold;'>Filtro: {{ d }}/{{ f }}</div>
</div>
<div class="col-sm-1">
    <form action="/verificar/" method="get" role="form">
        <input type="submit" name="Baixar" value="Baixar" class="btn btn-success">
    </form>
</div>

<div class="table-responsive col-sm-12">
<table class="table table-striped table-condensed" style='font-family: consolas'>
    <colgroup>
        <col class="file">
        {% for geo in geos %}
        <col class="geo{{ geo }}">
        {% endfor %}        
    </colgroup>
    <thead>
        <tr>
            <th scope="col">arquivo</th>
            
            {% for geo in geos %}
            <th scope="col">
            <center>
            {{ geo }}
            </center>
            </th>
            {% endfor %}
            
        </tr>
    </thead>
    <tbody>
        {% for file in files.items %}
        <tr>
            <td class="col-md-2 col-md-offset-2" data-original-title="{{ file.4 }}" data-placement="top" data-toggle="tooltip">
                {{ file.0 }}
            </td>
            {% for item in file.1.items %}
                {% if item.1 %}
                <td class="success col-md-1 col-md-offset-1">
                <center>
                <b><span class='glyphicon glyphicon-thumbs-up' aria-hidden=false></span></b>
                </center>
                </td>
                {% else %}
                <td class="danger col-md-1 col-md-offset-1">
                <center>
                <b><span class='glyphicon glyphicon-thumbs-down' aria-hidden=false></span></b>
                </center>
                </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- -->
{% else %}
<!-- -->
<form action="/verificar/" method="get" role="form">
    <fieldset>
        <legend>Verificar arquivos entre Geografias</legend>
        <div class="form-group col-sm-12">
        <label class="control-label" for="geo">Geografia:</label>
        <div class="checkbox">
            {% for geo in geos %}
            <label class="checkbox-inline">
                <input type="checkbox" name="{{ geo }}" />
                {{ geo }}
            </label>
            {% endfor %}
        </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" for="dir">Diretório:</label>
            <input id="dir" type="text" name="d" value="{{ d }}" class="form-control"><br>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label" for="mask">Máscara:</label>
            <input id="mask" type="text" name="f" value="{{ f }}" class="form-control"><br>
        </div>
        <div class="form-group col-sm-12">
        <label class="control-label" for="dir">Opções:</label>
        <div class="checkbox">
            <label class="checkbox-inline">
                <input type="checkbox" name="error_only" />
                 Exibe somente erros   
            </label>
        </div>
        </div>
        
        <div class="form-group col-sm-12">
            <input type="submit" name="Verificar" value="Verificar" class="btn btn-success">
        </div>
    </fieldset>
</form>
{% endif %}
{% endblock %}
{% block script %}
<script id="bsJs" type="text/javascript">
    //$(function () { $("[data-toggle='tooltip']").tooltip(); });
    //$('[data-toggle="tooltip"]').popover({trigger: 'hover','placement': 'top'});
</script>
{% endblock %}